# === Python Virtual Environment ===
venv/
env/

.github/

# === Python Cache ===
__pycache__/
*.py[cod]
*$py.class

# === Database & Sensitive Files ===
floatslate.db
*.db
*.sqlite3
.env
*.bak

# === PyInstaller Build Folders ===
build/
dist/
*.spec
*.manifest

# === IDEs / OS ===
.vscode/
.DS_Store

# Build Files
*.snap
snap/.snapcraft/